<nav>
  <h1>Angular Sign Up Form</h1>
</nav>


<form id="myForm" style="border:1px solid #ccc">



  <div class="container">
    <p>Please fill in this form to create an account.</p>


    <label for="name"><b>Name</b></label><br>
    <input type="text" placeholder="Enter Name" name="name" [(ngModel)]="registerUserData.name" id="name" required><br><br>


    <label for="email"><b>Email</b></label><br>
    <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="email" id="registerUserData.email" required><br><br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" id="registerUserData.password" required><br><br>

    <br><br>



    <p><input type="checkbox"> By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    <span id="msg"></span>
    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button name="submit" (click)="registerU()" class="submit">Sign Up</button>
    </div>
  </div>
</form>
